{% extends 'base.html.twig' %}

{% block title %}Inicio!{% endblock %}

{% block body %}

{{include ("/partials/navbar.html.twig")}}

<!--regiones-->
{% for region in regiones %}
<div style = " flex-direction:row;">
<div class="card">
  <img src="{{region.imagen}}" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{region.nombre}}</h5>
    <p class="card-text">{{region.descripcion}}</p>
    <a href="/region/{{region.nombre}}/{{region.id}}" class="btn btn-primary">Visita {{region.nombre}}</a>
  </div>
</div>
<!--regiones-->

{% endfor %}



  {{include ("/partials/footer.html.twig")}}
{% endblock %}
