{% extends 'base.html.twig' %}

{% block title %}Inicio!{% endblock %}

{% block body %}

{{include ("/partials/navbar.html.twig")}}

<!--regiones-->
{% for region in regiones %}
<div style = " flex-direction:row;">
<div class="card">
  <img src="{{region.imagen}}" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{region.nombre}}</h5>
    <p class="card-text">{{region.descripcion}}</p>
    <a href="/region/{{region.nombre}}/{{region.id}}" class="btn btn-primary">Visita {{region.nombre}}</a>
  </div>
</div>
<!--regiones-->
{% endfor %}

<!-- Video YT -->
<div id="contenedor_arcane">

<h1 id="titulo_video">Arcane! La serie original de League of Legends! </h1>
<div id="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/iKJ-coaQmBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<button class="button" style="vertical-align:middle"><span>¿¡Arcane!?</span></button>

</div>
<!-- Video YT -->


  {{include ("/partials/footer.html.twig")}}
{% endblock %}
