{% extends 'base.html.twig' %}

{% block title %}LoLWiki!{% endblock %}


{% block body %}

{{include ("/partials/navbar.html.twig")}}

<!--regiones-->
{% for region in regiones %}
<h2 class="card-title" id="nombre-regiones">{{region.nombre}}</h2>
<div style = " flex-direction:row;">
<div class="card">
  <img src="{{region.imagen}}" class="card-img-top" >
  <div class="card-body">
    <a href="/region/{{region.nombre}}/{{region.id}}" class="btn btn-info">Visita {{region.nombre}}</a>
  </div>
</div>
{% endfor %}
<!--regiones-->

<!-- Video YT -->
<div id="contenedor_arcane">

<h1 id="titulo_video">Arcane! La serie original de League of Legends! </h1>
<div id="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/iKJ-coaQmBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Video YT -->

<!-- INFO ARCANE -->
<input type="button" id="arcane_boton" value="Arcane">
<div id="contenedor_saber" style="background-color:#bfa6a2; padding:10px; border-style:solid;">
  </div>
<!-- INFO ARCANE -->
</div>



  {{include ("/partials/footer.html.twig")}}
{% endblock %}
