{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
{{include ('partials/navbar.html.twig')}}
    
    <h1 id="titulo-registro">Registro</h1>
    <div id="registro">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            "id" : "email",
            label: 'Correo electrónico  '
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Contraseña'
        }) }}
        

        <button id="boton-registro"type="submit">Regístrate</button> 
    {{ form_end(registrationForm) }}
    Ya estás registrado?? <a href="/login">Inicia sesión</a>
        </div>
{% endblock %}
