<div style = " flex-direction:row;">
<div class="card">
<h2 class="card-title">{{personaje.nombre}}</h2>
  <img id="imagen_personaje" src="{{personaje.imagen}}" class="card-img-top" >
  <div class="card-body">
    <p class="card-text">{{personaje.descripcion}}</p>
    <p class="card-text">El tipo de daño de este personaje es : {{personaje.daño}}</p>
    <p class="card-text">El rol de este personaje es : {{personaje.rol}}</p>  
  </div>

</div>